@using Service.Dtos.Category
@model CategoryCreateDto
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">

            </p>
            <form asp-action="Create" method="post" enctype="multipart/form-data" class="forms-sample">

                <div class="form-group">
                    <label for="exampleInputName1">Name</label>
                    <input asp-for="Name" type="text" class="form-control" id="exampleInputName1" placeholder="Name">
                </div>

                <div class="input-group">
                    <label class="input-group-text" for="inputGroupFile01">Upload</label>
                    <input asp-for="ImageUrl" type="file" class="form-control" id="inputGroupFile01" />
                </div>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>