<main class="home">
    @await Component.InvokeAsync("Slider")
    @await Component.InvokeAsync("Category")

   
    <section id="home-products">
        <div class="container-xl">
            <div class="row">
                <div class="products-title col-12">
                    <h2>Our Best Sellers</h2>
                    <ul>
                        <li><button class="activbtn">Women</button></li>
                        <li><button>Men</button></li>
                        <li><button>Kid</button></li>
                    </ul>
                </div>
                <div class="produsts-items">
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
                        <div class="col">
                            <div class="card">
                                <a href="#">
                                    <img href
                                         src="~/Assets/İMG/Home/Products/1.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                </a>
                                <div class="cart-shortcut">
                                    <ul>
                                        <li>
                                            <button><i class="bi bi-heart"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-eye"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-basket2-fill"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <span>
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                    </span>
                                    <h5 class="card-title">Arome Le Parfum</h5>
                                    <p class="card-text">$79.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="#">
                                    <img href
                                         src="~/Assets/İMG/Home/Products/2.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                </a>
                                <div class="cart-shortcut">
                                    <ul>
                                        <li>
                                            <button><i class="bi bi-heart"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-eye"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-basket2-fill"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <span>
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                    </span>
                                    <h5 class="card-title">Arome Le Parfum</h5>
                                    <p class="card-text">$79.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="#">
                                    <img href
                                         src="~/Assets/İMG/Home/Products/3.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                </a>
                                <div class="cart-shortcut">
                                    <ul>
                                        <li>
                                            <button><i class="bi bi-heart"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-eye"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-basket2-fill"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <span>
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                    </span>
                                    <h5 class="card-title">Arome Le Parfum</h5>
                                    <p class="card-text">$79.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="#">
                                    <img href
                                         src="~/Assets/İMG/Home/Products/4.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                </a>
                                <div class="cart-shortcut">
                                    <ul>
                                        <li>
                                            <button><i class="bi bi-heart"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-eye"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-basket2-fill"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <span>
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                    </span>
                                    <h5 class="card-title">Arome Le Parfum</h5>
                                    <p class="card-text">$79.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="#">
                                    <img href
                                         src="~/Assets/İMG/Home/Products/5.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                </a>
                                <div class="cart-shortcut">
                                    <ul>
                                        <li>
                                            <button><i class="bi bi-heart"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-eye"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-basket2-fill"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <span>
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                    </span>
                                    <h5 class="card-title">Arome Le Parfum</h5>
                                    <p class="card-text">$79.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="#">
                                    <img href
                                         src="~/Assets/İMG/Home/Products/6.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                </a>
                                <div class="cart-shortcut">
                                    <ul>
                                        <li>
                                            <button><i class="bi bi-heart"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-eye"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-basket2-fill"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <span>
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                    </span>
                                    <h5 class="card-title">Arome Le Parfum</h5>
                                    <p class="card-text">$79.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="#">
                                    <img href
                                         src="~/Assets/İMG/Home/Products/7.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                </a>
                                <div class="cart-shortcut">
                                    <ul>
                                        <li>
                                            <button><i class="bi bi-heart"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-eye"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-basket2-fill"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <span>
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                    </span>
                                    <h5 class="card-title">Arome Le Parfum</h5>
                                    <p class="card-text">$79.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <a href="#">
                                    <img href
                                         src="~/Assets/İMG/Home/Products/8.jpg"
                                         class="card-img-top"
                                         alt="..." />
                                </a>
                                <div class="cart-shortcut">
                                    <ul>
                                        <li>
                                            <button><i class="bi bi-heart"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-eye"></i></button>
                                        </li>
                                        <li>
                                            <button><i class="bi bi-basket2-fill"></i></button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <span>
                                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i>
                                    </span>
                                    <h5 class="card-title">Arome Le Parfum</h5>
                                    <p class="card-text">$79.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @await Component.InvokeAsync("Advertisement")
    @await Component.InvokeAsync("ProductPapular")

   
    @await Component.InvokeAsync("Brand")
    @await Component.InvokeAsync("FeaturedProduct")

 
   
    @await Component.InvokeAsync("Product")
    @await Component.InvokeAsync("Blog")

   
</main>