<main class="home">
    @await Component.InvokeAsync("Slider")
    @await Component.InvokeAsync("Category")

    @await Component.InvokeAsync("CategoryProduct")


    @await Component.InvokeAsync("Advertisement")
    @await Component.InvokeAsync("ProductPapular")

   
    @await Component.InvokeAsync("Brand")
    @await Component.InvokeAsync("FeaturedProduct")

 
   
    @await Component.InvokeAsync("Product")
    @await Component.InvokeAsync("Blog")

   
</main>