<header class="navbar">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 sub-search hidden">
                <div id="" class="sidebar-box search-form-wrap">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <input type="text"
                                   class="form-control"
                                   id="s"
                                   placeholder="Searh our store" />
                            <button type="button">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                        <button onclick="hiddensearch()"><i class="bi bi-x-lg"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-12">
                <div class="row navbar-largsize">
                    <div class="navbar-left col-4 col-sm-4 col-md-4 col-lg-5">
                        <button class="mobile-menu-btn" id="openSidebarBtn">
                            <i class="bi bi-list"></i>
                        </button>
                        <ul class="desktop-menu">
                            <li><a asp-controller="Home">Home</a></li>
                            <li><a asp-controller="shop" >Shop</a></li>
                            <li><a asp-controller="Blog" >Blog</a></li>
                            <li><a asp-controller="AboutUs" >About Us</a></li>
                            <li><a asp-controller="Contact" >Contact</a></li>
                        </ul>
                    </div>
                    <div class="navbar-center col-4 col-sm-4 col-md-4 col-lg-2">
                        <a href="./Home.html">
                            <img src="~/Assets/İMG/Navbar/Logo/logo.png" alt="Logo" />
                        </a>
                    </div>
                    <div class="navbar-right col-4 col-sm-4 col-md-4 col-lg-5">
                        <div class="search-bar">
                            <form method="get" asp-controller="Shop" asp-action="Index" class="search-bar" style="display:flex;">
                                <div class="input-group">
                                    <input type="text"
                                           name="search"
                                           class="form-control"
                                           placeholder="Search our store"
                                           aria-label="Search"
                                           value="@(ViewBag.Search ?? "")" />
                                    <button class="btn search-btn" type="submit">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </form>

                       
                        </div>
                        <button onclick="shownsearch()" class="small-navbar-search">
                            <i class="bi bi-search"></i>
                        </button>
                        <a href="./Login.html" class="navbar-login">
                            <i class="bi bi-person"></i>
                        </a>
                        <a href="./Wishlist.html" class="navbar-wishlist"><i class="bi bi-heart"></i><span>3</span></a>
                        <a href="./Card.html" class="navbar-cart"><i class="bi bi-basket-fill"></i><span>0</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="offcanvas-menu" id="sidebarMenu">
            <div class="offcanvas-header">
                <div class="logo">
                    <img src="~/Assets/İMG/Navbar/Logo/logo.png"
                         alt="Arome Perfume Shop" />
                </div>
                <button type="button"
                        class="btn-close"
                        id="closeSidebarBtn"
                        aria-label="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="./Home.html" class="nav-link">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a href="./Shop.html" class="nav-link">SHOP</a>
                    </li>
                    <li class="nav-item">
                        <a href="./Blog.html" class="nav-link">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a href="./AboutUs.html" class="nav-link">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a href="./Contact.html" class="nav-link">CONTACT</a>
                    </li>
                </ul>
                <div class="login-section">
                    <a href="./Login.html" class="login-link">
                        <i class="bi bi-person"></i> LOG IN / REGISTER
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>