@using Service.Dtos.AccountDto
@model ForgotPasswordVM
<main class="login-register">
    <section id="Sing-in_up-section">
        <div class="container-xl">
            <div class="row">
                <div class="col-12">
                    <div class="registration">
                        <div id="sign-in">
                            <h1>Forgot password</h1>

                            <form asp-action="Forgotpassword" method="post">
                                <label>Email</label>
                                <input asp-for="Email" type="email" placeholder="Email">
                              
                              
                                <div class="sing-up-btn">
                                    <button class="sign-btn">Send Resert Link </button>
                                </div>
                            </form>

                            <button class="sign-up-link"><a asp-action="Register" >New customer? Register for an account</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </section>
    <section id="login-section">
    </section>
</main>