@using Service.Dtos.AccountDto
@model ResetPasswordVM

<main class="login-register">
    <section id="Sing-in_up-section">
        <div class="container-xl">
            <div class="row">
                <div class="col-12">
                    <div class="registration">
                        <div id="sign-in">
                            <h1>Resert password</h1>

                            <form asp-action="ResetPassword" method="post">

                                <input type="hidden" name="Token" value="@Model.Token" />
                                <input type="hidden" name="Email" value="@Model.Email" />
                                <span class="password-container">
                                    <input asp-for="NewPassword" type="password" class="password-input" placeholder="Password">
                                    <button type="button" class="toggle-password">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </span>


                                <span class="password-container">
                                    <input asp-for="ConfirmPassword" type="password" class="password-input" placeholder="Password">
                                    <button type="button" class="toggle-password">
                                        <i class="bi bi-eye"></i>
                                    </button>
                                </span>


                                <div class="sing-up-btn">
                                    <button class="sign-btn">Reset</button>
                                </div>
                            </form>

                            <button class="sign-up-link"><a asp-action="Register" >New customer? Sign up for an account</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="login-section">
    </section>
</main>